
   
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <header class="page-header">
                        <h1 class="page-title">My Account</h1>
                    </header>
                    <div class="box-lg">
                        <div class="row" data-gutter="60">
                            <div class="col-md-6">
                                <h3 class="widget-title">Sign in</h3>
                                <form>
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input class="i-check" type="checkbox" />Remember me</label>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Sign in" />
                                </form>
                                <br /><a href="#">Forgot Your Password?</a>
                            </div>
                            <div class="col-md-6">
                                <h3 class="widget-title">Create Account</h3>
                                <form>
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <label>Repeat Password</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input class="i-check" type="checkbox" />Sign Up to the Newsletter</label>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Create Account" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap gap-small"></div>
